{% extends 'main/layout.html' %}

{% block title %}
    <title>Страница заказа</title>
{% endblock %}

{% block content %}
    <h1 class="my-4">Страница заказа</h1>
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-group">
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="mb-3">
                    {{ field.label_tag }}
                    {{ field }}
                    <div class="invalid-feedback">
                        {{ field.errors }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Заказать</button>
    </form>
{% endblock %}


